// $main: "school";
// $child: "box";
// $language: "en"; // English
// $gap: 20px;




// .#{$main}{
//   padding: 20px;
//   @if $language == "en" {
//     direction: ltr;
//   }@else {
//     direction: rtl;
//   }
//   margin-left: 20px;

//   .#{$main}-#{$child}{
//     padding: 10px;
//   }

//   &:hover .#{$main}-#{$child}{
//     background-color: #eee;
//   }
// }


// SASS Code
// $main-color: red;
// $alt-color: blue;

// Needed Output
// /* Theme Version: 1.0 */
// /* Website Theme Main Color Is: #{$main-color} */
// /* Website Theme Alternate Color Is: #{$alt-color} */


// $number: 10;
// $number: 8;
// $number: 5;

// .class {
//   @if $number > 8 {
//     color: blue;
//   }@else if $number > 5 {
//     color: green;
//   }@else {
//     color: red;
//   }
// }



// // SASS Code
// $number: 10;
// $color: "red";
// $theme: "light";

// // Write If Condition Code Here

// .class {
//   @if $number > 5 and $theme != "dark" and $color == "red" {
//     color:red;
//   }
// }

// Output
// .class {
//   color: red;
// }

// $number: 8;

// @if $number >=10  {
//   .box {
//     background-color: #EEE;
//     text-align: center;
//   }
// }@else if $number >= 9{
//   .box {
//     background-color: #EEE;
//   }
// }

