@use "./SASS/layout/globle-rule" as *;

// div + p {
//   background-color: green;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
// }

// div:not([title]) > p {
//   background-color: black;
// }

// div[title] ~ p {
//   background-color: black;
// }


// div[title="div"] {
//   width: 100%;
//   height: 100px;
//   background-color: red;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
// }

// div[title*="div"] {
//   width: 100%;
//   background-color: red;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
//   margin-bottom: 20px;
// }

// div[title^="div"] {
//   width: 100%;
//   background-color: red;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
//   margin-bottom: 20px;
// }

.content {
  > .box {
    padding: 15px;

    > .title {
      font-size: 18px;
    }
  }


  .cat {
    padding: 15px;
  }

  &.premium::before {
    content: "Premium Box";
  }
  &.premium::after {
    background-color: #eee;
  }

}


.class > .child {
  padding: 10px;
}

.class {
  > .child{
    padding: 10px;
  }
}


.class >{
  .child{
    padding: 10px;
  }
}

%content {
  font-weight: bold;
  font-size: 20px;
}


.class {
  @extend %content;

}



.parent {
  & + .sibling {
    margin: auto {
      top: 10px;
    }
    & ~ .last {
      padding: 10px;
    }
  }
}

// .parent + .sibling {
//   margin: auto 
//     top: 10px;
//   }

//  parent ~ .last {
//     padding: 10px;
//   }
// 

