@use "./SASS/layout/globle-rule" as *;
@use "./SASS/Helpers/vars" as *;
@use "./SASS/Helpers/functions" as *;
@use "./SASS/layout/footer" as *;
@use "./SASS/layout/header" as *;
// div + p {
//   background-color: green;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
// }

// div:not([title]) > p {
//   background-color: black;
// }

// div[title] ~ p {
//   background-color: black;
// }


// div[title="div"] {
//   width: 100%;
//   height: 100px;
//   background-color: red;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
// }

// div[title*="div"] {
//   width: 100%;
//   background-color: red;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
//   margin-bottom: 20px;
// }

// div[title^="div"] {
//   width: 100%;
//   background-color: red;
//   color: white;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 5px;
//   margin-bottom: 20px;
// }

// .content {
//   > .box {
//     padding: 15px;

//     > .title {
//       font-size: 18px;
//     }
//   }


//   .cat {
//     padding: 15px;
//   }

//   &.premium::before {
//     content: "Premium Box";
//   }
//   &.premium::after {
//     background-color: #eee;
//   }

// }


// .class > .child {
//   padding: 10px;
// }

// .class {
//   > .child{
//     padding: 10px;
//   }
// }


// .class >{
//   .child{
//     padding: 10px;
//   }
// }

// %content {
//   font-weight: bold;
//   font-size: 20px;
// }


// .class {
//   @extend %content;

// }



// .parent {
//   & + .sibling {
//     margin: auto {
//       top: 10px;
//     }
//     & ~ .last {
//       padding: 10px;
//     }
//   }
// }

// .parent + .sibling {
//   margin: auto 
//     top: 10px;
//   }

//  parent ~ .last {
//     padding: 10px;
//   }
// 



// .widget {
//   background-color: white;
//   padding: 20px;
// }

// .main-border {
//   border: 1px solid #CCC;
// }

// .my-calss {
//   @extend .widget;
//   @extend .main-border;
//   font-weight: bold;
//   margin: 20px auto;
// }

// %widget {
//   background-color: white;
//   padding: 20px;
// }
// %main-border {
//   border: 1px solid #CCC
// }

// .my-class {
//   font-weight: bold;
//   margin: 20px auto;
// }

// .my-calss {
//   @extend %widget;
// }

// .my-calss {
//   @extend %main-border;
  
// }



// .box {
//   h2,p{
//     font-size: 20px;
//   }
//   @media (max-width:575px) {
//     h2,p {
//       font-size: 16px;
//       span {
//         font-weight: bold;
//       }
//     }
//   }
// }


// The Code
// Do Not Edit Here
// $red: #e91e63;
// $green: #009688;

// // Add What You Want Here
// $link-color: $green;
// $link-hover: $red;

// // Do Not Edit Here
// .box a {
//   color: $link-color;
//   &:hover {
//     color: $link-hover;
//   }
// }


$box:"box";
$holder:"holder";
$content:"content";


.#{$box}{
  font-size: 20px;
}

.box-#{$holder}{
  width: 1000px;
}

.#{$box}-#{$holder}-#{$content}{
  font-size: 20px;
}